.card-image {
  float: left;
  width: auto;
  height: auto;
}
.card-image img {
  height: 50%;
}
.right-content {
  width: 87%;
  float: left;
  display: grid;
}
.card-title {
  padding-left: 20px;
}

#authorize{
	margin-left: 15px;
}
